header {
  border-bottom: 2px solid var(--white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.header-img {
  width: 20%;
}

.home-link {
  font-size: 1.8em;
  margin-left: 1.5em;
  color: var(--white);
}

.menu-icon {
  color: var(--white);
  margin-left: 0.2em;
}

nav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  color: var(--primary-yellow);
  font-size: 1.4em;
}

.menu-hamburger {
  display: none;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }

  .menu-hamburger {
    display: inline;
    font-size: 1.6em;
  }
}
