header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--white);
}

.header-img {
  width: 20%;
}

.home-link {
  font-size: 1.8em;
  margin-left: 1.5em;
}

nav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  color: var(--primary-yellow);
  font-size: 1.4em;
}
